@import "tailwindcss";


 html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: clip;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Poppins", sans-serif;
}

@media print {
  nav,
  footer {
    display: none !important;
  }

  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .print-area {
    box-shadow: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
}