@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@media print {
  nav,
  footer {
    display: none !important;
  }

  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .print-area {
    box-shadow: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
}